.pane {
    padding-top: 30px;
    padding-bottom: 30px;

    // Medium and up

    @include media-breakpoint-up(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    // Extra large and up

    @include media-breakpoint-up(xl) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.pane--full {
    padding: 0 !important;
}

.pane--case {
    min-height: 100vh;

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
        color: $white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms $transition-bezier, transform 300ms $transition-bezier;
    }

    .is-loading & .loader {
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}

// Pane colors

@each $name,
$color in $theme-colors {
    .pane--#{$name} {
        background-color: $color;
        color: color-yiq($color);
    }
}
