{% if entry.text %}
    <div class="pane">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    {{ entry.text|raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
