.hero {
    overflow: hidden;

    > .hero__media {
        height: 100vh;
    }

    &--narrow > .hero__media {
        height: 65vh;
    }

    &--narrow {
        @include media-breakpoint-up(lg) {
            max-height: 80vh;
        }
    }
}

.hero__media {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

.hero__image {
    width: 100%;
    height: 100%;

    @include object-fit(cover);
}

.hero__video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    .hero__image {
        height: unset;
    }
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__btn {
    position: absolute;
    right: 0;
    top: 100%;
    left: 0;
    background: linear-gradient(to top, rgba($black, 0.75), rgba($black, 0));
    padding: map-get($spacers, 2);
    text-align: center;

    .btn-link {
        color: $white;
        font-size: px-to-rem(24);
        text-transform: uppercase;

        .btn__content {
            pointer-events: none;
        }
    }
}
