<section id="highlights" class="pane">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="text-center mb-5">Full immersive and interactive VR experiences</h2>
            </div>
        </div>
        <div class="row row--equalized gutters-4 justify-content-center">
            {% cache %}
                {% for entry in craft.entries.section('highlights').limit(4).orderBy('postDate').all() %}
                    {% include '_components/highlights/highlight_preview.twig' %}
                {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>