.image-zoom {
    position: relative;
    overflow: hidden;

    img {
        transition: $transition-base;
        transition-duration: 1000ms;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }
    }
}
