{% set image  = entry.image.one() %}
{% set imageTransform = { width: 640, mode: 'crop' } %}
{% set retinaImageTransform = { width: 1280, mode: 'crop' } %}

{% if image or entry.video %}
    <div class="row__item {{ entry.fullWidth == 1 ? 'col-12' : 'col-6' }}">
        {% if entry.video or image %}
            {% include "_components/media/media.twig" with {
                extensionClasses: ['media--work', 'image-zoom'],
                url: entry.url
            } %}
        {% endif %}
    </div>
{% endif %}
