{% set workEntries = craft.entries.section('workEntries').all() %}

<section class="pane py-0">
    <div class="cases-observer"></div>
    <div class="row row--masonry gutters-h1">
        {% for entry in workEntries %}
            {% include '_components/work/work-preview.twig' %}
        {% endfor %}
    </div>
</section>
