.media {
}

.media--overlay {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 100%);
        pointer-events: none;
        z-index: 0;
    }
}

.media__absolute {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 1;
}

.media__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
    transition: $transition-base;
}