.media--case {
    position: relative;
    transform: translateY(-101%);
    overflow: hidden;
    will-change: transform;

    .media__wrapper {
        transform: translateY(101%);
        will-change: transform;
        overflow: hidden;
    }

    .media__text {
        display: block;
        transform: translateY(100%);
        transition: transform 500ms $transition-bezier;
    }

    .media__link {
        height: 100%;
        width: 100%;
        overflow: hidden;
        transform: scale(1.2);
        will-change: transform;

        &:hover + .media__caption .media__text {
            transform: translateY(0);
        }

        &:hover.gradient:after {
            opacity: 1;
        }
    }
}
