.media--overflowed {
    .media__wrapper {
        overflow: hidden;
        transform: translateY(-101%);
        will-change: transform;
    }

    .media__inner {
        transform: translateY(101%);
        will-change: transform;
    }

    .media__link {
        transform: scale(1.2);
        transform-origin: top;
        will-change: transform;
    }
}
