
.media--visual {
    height: 100vh;

    .media__image {
        height: 100%;
        width: 100%;

        @include object-fit(contain);
    }

    .media__container {
        top: 50%;
        transform: translateY(-50%);
    }

    .media__caption {
        position: fixed;
        bottom: map-get($spacers, 3);
        left: map-get($spacers, 3);

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: map-get($spacers, 4) * 1.25;
            left: map-get($spacers, 4) * 1.25;
        }
    }

    &.gradient:after {
        opacity: 1;
    }
}
