.media--clients {
    justify-content: center;

    img {
        width: 100%;
        max-width: 100px;
        opacity: 0.5;

        @include media-breakpoint-up(md) {
            max-width: 150px;
        }
    }
}
