<section id="highlights" class="pane">
    <div class="container">
        <h4 class="text-center mb-5">Showcase</h4>
        <div class="row row--equalized gutters-4 justify-content-center">
            {% for entry in craft.entries.section('work').orderBy('postDate').all() %}
                {% include '_components/showcase/showcase_preview.twig' %}
            {% endfor %}
        </div>
    </div>
</section>