<section id="highlights" class="pane">
    <div class="container">
        <h2 class="text-center mb-5">Cases</h2>
        <div class="row row--equalized gutters-4">
            {% cache %}
                {% for entry in craft.entries.section('showcase').orderBy('postDate').all() %}
                    {% include '_components/showcase/showcase_preview.twig' %}
                {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>