<li class="list__item">
    <a href="{{ block.channelAddress }}" title="{{ footer.companyName }} | {{ block.channel }}"
       target="_blank" rel="noreferrer">
        {% switch block.channel %}

        {% case 'facebook' %}
           <span class="badge badge--bordered">
                <p class="badge__text">FB</p>
           </span>

        {% case 'instagram' %}
            <span class="badge badge--bordered">
                <p class="badge__text">IG</p>
            </span>

        {% case 'linkedin' %}
            <span class="badge badge--bordered">
                <p class="badge__text">LD</p>
            </span>

        {% case 'youtube' %}
            <span class="badge badge--bordered">
                <p class="badge__text">YT</p>
            </span>

        {% endswitch %}
    </a>
</li>
