{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_layouts/default-ajax" : "_layouts/default" %}

{% set entry = craft.entries.section('studio').one() %}
{% set headerColor = entry.headerColor.value %}
{% set title = entry.title %}
{% set bodyClass = 'bg-black' %}

{% block header %}
    {% include '_compositions/main-header.twig' with {
        headerColor: headerColor,
        extensionClasses: ['main-header--gradient']
    } %}
{% endblock %}

{% block content %}
    <main role="main">
        {% include "_components/case/case-overview.twig" with { entries: 'studioEntries' } %}
    </main>
{% endblock %}
