{% set caseEntries = craft.entries.section(entries).all() %}

<section class="pane py-0 min-vh-100 overflow-hidden">
    <div class="row row--masonry gutters-h1">
        {% set totalEntries = caseEntries|length %}

        {% for entry in caseEntries %}
            <div class="row__item {{ entry.fullWidth ? 'col-12 col-lg-12' : 'col-12 col-lg-6' }}">
                {% include '_components/case/case-preview.twig' %}
            </div>
        {% endfor %}
    </div>
</section>
