<header class="main-header my-3">
    <div class="container d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-lg-between">
        <div class="main-header__logo logo mb-4 mb-lg-0">
            <a class="logo__link" href="#hero" title="Parallel Realities" data-smooth-scroll>
                <svg class="logo__image">
                    <use xlink:href="{{ alias('@web/app/assets/img/symbols.svg#logo') }}"></use>
                </svg>
            </a>
        </div>
        <nav class="main-header__nav">
            <ul class="nav nav--primary flex-nowrap" id="main-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#hero" data-smooth-scroll>
                        <span class="nav-text">Parallel</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" data-smooth-scroll>
                        <span class="nav-text">About</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cases" data-smooth-scroll>
                        <span class="nav-text">Cases</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" data-smooth-scroll>
                        <span class="nav-text">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>