{% extends "_layouts/base" %}

{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined ? entry.section.handle: craft.app.request.segments | first %}
{% endif %}

{% block body %}

    <main id="swup">
        <div id="wrapper" class="overflow-hidden">
            <div id="wrapper-inner">
                {% block header %}
                    {% include '_compositions/main-header.twig' %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block footer %}
                    {% include '_compositions/main-footer.twig' %}
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

