{% extends "_layouts/base" %}

{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined? entry.section.handle: craft.app.request.segments | first %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
    {% set title %}
        {% if title is defined %}{{ title }}
            -
        {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}

{% block body %}

    {% set headerColor = header.headerColor.value|default("") %}
    <header id="main-header" class="main-header {{ 'main-header--'~ headerColor }} py-3" role="banner">
        {% include '_compositions/main-header.twig' %}
    </header>

    <main id="main" role="main">
        {% block main %}{% endblock %}
    </main>

    <footer id="contact" class="main-footer" role="contentinfo">
        {% include '_compositions/main-footer.twig' %}
    </footer>

{% endblock %}

