{% extends "_layouts/base" %}

{% if bodyClass is not defined %}
    {% set bodyClass = entry is defined? entry.section.handle: craft.app.request.segments | first %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
    {% set title %}
        {% if title is defined %}{{ title }}
            -
        {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}


{# Caching for 30 days #}
{% set expiry = now|date_modify('+30 days') %}
{% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
{% header "Pragma: cache" %}
{% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}

{% block body %}
    <header id="main-header" class="main-header py-3" role="banner">
        {% include '_compositions/main-header.twig' %}
    </header>

    <main id="main" role="main">
        {% block main %}{% endblock %}
    </main>

    <footer id="contact" class="main-footer" role="contentinfo">
        {% include '_compositions/main-footer.twig' %}
    </footer>

{% endblock %}

