.main-footer {
    border-top: 1px solid $base;
    padding-top: 20px;
    padding-bottom: 20px;

    // Medium and up

    @include media-breakpoint-up(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.main-footer__title {
    line-height: 1.3;
}
