.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: background-color 350ms $transition-bezier, padding 350ms $transition-bezier;

    @include media-breakpoint-up(lg) {
        position: fixed;
    }

    .logo__image {
        height: 72px;
        width: 310px;
        color: $white;
        transition: transform 400ms $transition-bezier;

        @include media-breakpoint-up(md) {
            width: 390px;
        }
    }

    &.is-sticky,
    .showcase & {
        background-color: $white;
        padding: 0 !important;

        .nav-link:after {
            background: $base;
        }

        .nav-text,
        .logo__image {
            color: $base;
        }

        .main-header__logo {
            transform: scale(0.6)
        }

        .main-header__nav {
            transform: scale(0.8) translateY(-30px);

            .nav-link {
                margin: 0 0.5rem;
            }
        }
    }

    &--black {

        .logo__image,
        .nav--primary .nav-text {
            color: $base;
        }

        .nav-link:after  {
            background-color: $base;
        }
    }
}

.main-header__logo,
.main-header__nav {
    transition: transform 400ms $transition-bezier;
}

.main-header__observer {
    height: 1px;
    margin-top: -1px;
    position: absolute;
    top: 80%;
    width: 1px;
}
