.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-fixed;

    &--white {
        --headerColor: #{$white};
    }

    &--black {
        --headerColor: #{$base};
    }
}

.main-header__logo {
    z-index: 1;
}

.main-header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    transform: translateY(-100%);
    transition: transform 500ms $transition-bezier;
    overflow: hidden;
    pointer-events: none;

    @include media-breakpoint-up(lg) {
        position: static;
        transform: unset;
        pointer-events: auto;
        background-color: transparent;
    }

    .is-nav-open & {
        transform: translate(0);
        pointer-events: auto;

        .nav--primary {
            transform: translate(0);
        }

        .nav--primary .nav-text {
            transform: translate(0);
            opacity: 1;
            transition: transform 500ms 125ms $transition-bezier, opacity 500ms 125ms ease, color 250ms $transition-bezier;
            color: $base;
        }
    }
}

.main-header__nav-toggle {
    z-index: 1;

    .btn {
        color: var(--headerColor);
        transition: color 250ms 250ms $transition-bezier;
    }

    .btn.is-active {
        color: $base;
        transition: color 250ms $transition-bezier;
    }
}
