.main-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: auto;

    // Medium and up

    @include media-breakpoint-up(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .list__link:hover .icon {
        transform: translateY(-5px);
    }
}

.main-footer__title {
    line-height: 1.3;
}
