<section class="hero">
    <div class="hero__video-wrapper">
        {% if entry.video_id %}
            <iframe class="hero__video" src="https://player.vimeo.com/video/{{ entry.video_id }}?background=1" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
    </div>
</section>