<section id="highlights" class="pane">
    <div class="container">
        <h4 class="text-center mb-5">Highlights</h4>
        <div class="row row--equalized gutters-4 justify-content-center">
            {% for entry in craft.entries.section('highlights').limit(4).orderBy('postDate').all() %}
                {% include '_components/highlights-entry' %}
            {% endfor %}
        </div>
    </div>
</section>