<section class="pane">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <article class="text-center">
                    {{ entry.textBlock|raw }}
                </article>
            </div>
        </div>
    </div>
</section>