.btn {}

.btn-base {
    background-color: transparent;
    padding: 0;
    text-align: left;
    color: $base;
    border: none;
    text-decoration: underline;
    font-weight: 300;

    @include media-breakpoint-up(md) {
        text-align: right;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: transparent !important;
        color: $base !important;
        text-decoration: none !important;
        box-shadow: none !important;
        border: none !important;
    }
}

.btn-link {
    position: relative;
    display: inline-flex;
    padding: 0;
    margin: 0;

    &:after {
        content: "";
        position: absolute;
        top: calc(100% + 3px);
        right: 0;
        left: 0;
        height: 1px;
        background-color: var(--headerColor);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 350ms $transition-bezier;
    }

    &:hover:after,
    &:focus:after {
        transform: scaleX(1);
        transform-origin: left;
    }
}
