html {
    height: 100%;
    font-size: 0.8rem;

    // Medium and up

    @include media-breakpoint-up(md) {
        font-size: 0.9rem;
    }

    // Large and up

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body,
button,
input,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: $base !important;
    transition: $transition-base;

    .icon {
        transition: $transition-base;
    }

    &:hover {
        .icon {
            transform: translateY(-5px);
        }
    }
}

[href^="tel:"],
[href^="tel:"]:hover {
    color: inherit;
}

[href^="tel:"] {
    text-decoration: none;
}

label[for] {
    cursor: pointer;
}

p {
    a {
        color: inherit !important;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:empty {
        display: none;
    }

    &:last-child {
        margin: 0;
    }
}

table {
    width: 100%;
    empty-cells: show;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    text-transform: uppercase;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

body.showcase main {
    margin-top: 115px;
}

.overflow-hidden {
    overflow: hidden;
}

.main--base {
    background-color: $base;
}
