.text-regular {
    font-weight: $font-weight-normal;
}

.text-larger {
    font-size: px-to-rem(30);
}

.text-small {
    font-size: px-to-rem(15);
}

.text-smaller {
    font-size: px-to-rem(13);
}

.text-light {
    opacity: 0.75;
}

.text-spaced {
    letter-spacing: 1.2px;
}

.text-muted {
    opacity: 0.6 !important;
    color: inherit;
}
